<h1><%= @board.name %></h1>
<hr />
<%= link_to "Create List", new_board_list_path(@board), class: "ui green button"%>
<br />
<br />
    <% @lists.each do |l| %>
      <div class = "ui cards">
        <div class = "card">
          <div class = "content">
            <div class = "header"><%=l.name %></div>
            <div class = "description">
            <ul>
              <% l.tasks.each do |t| %>  
              <li>
                <%= t.name %><br /><%= button_to "Delete Task", [l, t], method: :delete %> 
              </li>
    
              <% end %>
            </ul>
            </div>
              <%= link_to "Add Task", new_list_task_path(l), class: "ui buttom attached button" %>
              <%= link_to "Delete LIST", [@board, l], method: :delete, class: "ui red buttom attached button" %>
          </div>
        </div>
      </div>
    <% end %>